<div class="modal-header">
	<h3 class="modal-title" translate="ADD_EXTERNAL_COACH">Add external coach</h3>
</div>
<div class="modal-body">

	<form name="coachForm">

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin"><span translate="COACH_NAME">Coach name:</span>
					<input class="material-input" name="name" id="coachName" type="text"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="coachInfo.name"
						   required>
				</p>
			</div>

		</div>


		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin"><span translate="COACH_LOGIN">Coach login:</span>
					<input class="material-input" name="login" id="coachLogin" type="text"
						   placeholder="{{'CLICK_TO_ENTER' | translate }}" ng-model="coachInfo.login"
						   required>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin"><span translate="COACH_PASSWORD">Coach password:</span>
					<input class="material-input" name="password" id="coachPassword" type="password"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="coachInfo.password"
						   required>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin"><span translate="COACH_EMAIL">Coach email:</span>
					<input class="material-input" name="email" id="coachEmail" type="email"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="coachInfo.email"
						   required>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin"><span translate="COACH_PHONE">Coach phone number:</span>
					<input class="material-input" name="phone" id="coachPhone" type="text"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="coachInfo.numberPhone"
						   required>
				</p>
			</div>

		</div>

	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-default default-btn default-blue" ng-click="ok()">OK</button>
	<button class="btn btn-default default-btn default-gray" ng-click="cancel()" translate="CANCEL">Cancel</button>
</div>
