<div ng-class="{ 'waiting-for-angular': !isContentLoaded }">
<div ng-show="isContentLoaded" class="clearfix">   
<div class="card-layout-browse course clearfix ">
      <h1>The Realest Courses</h1>
      <h2>Best Rated Courses Here</h2>
        <div ng-repeat="t in featured | limitTo: 4">
          
             
            <div class="col-sm-3 col-xs-6 card">
              <a class="block-link" ng-href="#/courseinfo/{{t.trainingName}}">
              <div class="card-bg">
                <div class="card-image">
                  <img ng-src="{{t.trainingImage}}">
                </div>
                <h1>{{t.trainingName}}</h1>
                <h4>Coach: {{t.trainingCoach}}</h4>
                <div class="additional">
                  <h3>Start Date: {{t.dateTraining | date:'dd MMMM' }}</h3>
                  <h4>{{t.lessonNumber}} Lesson</h4>
                  <a ng-href="#/courseinfo/{{t.trainingName}}">Continue To Info</a>
                </div>  
              </div>
                </a>
            </div>
            
        </div> 
          
    </div>

    

    <div class="card-layout-browse course clearfix">
      <h1>Just For You</h1>
      <h2>Courses Thats Suit Your Interests</h2>
        <div ng-repeat="t in recommended | limitTo: 4">
            <div class="col-sm-3 col-xs-6 card">
              <a class="block-link" ng-href="#/courseinfo/{{t.trainingName}}">
                <div class="card-bg">
                  <div class="card-image">
                    <img ng-src="{{t.trainingImage}}">
                  </div>
                  <h1>{{t.trainingName}}</h1>
                  <h4>Coach: {{t.trainingCoach}}</h4>
                  <div class="additional">
                    <h3>Start Date: {{t.dateTraining | date:'dd MMMM' }}</h3>
                    <h4>{{t.lessonNumber}} Lesson</h4>
                    <a ng-href="#/courseinfo/{{t.trainingName}}">Сontinue To Info</a>
                  </div>  
                </div> 
              </a>
            </div>   
        </div>  
    </div>

    <div class="card-layout-browse category clearfix">
      <h1>Pick The Category</h1>
      <h2></h2>
        <div ng-repeat="c in categories">
          <a style="display:block" ng-href="#/browse/{{c.id}}">
            <div class="col-xs-3 card category">
              <div class="card-bg">
                <img ng-src="{{c.pictureLink}}">
                
                <div class="category-content">
                  <h2>{{c.name}}</h2>
                  <h3>{{c.trainingsNumber}} Courses</h3>
                  
                </div>
              </div>  
            </div>
            </a>
        </div>  
    </div>
</div>   

<!--
<div ng-init="limit = 2">
  <foo ng-repeat="item in items | limitTo: limit as results"></foo>
</div>
<button ng-hide="results.length === items.length" 
        ng-click="limit = limit +2">show more...</button>
-->

