<div ng-class="{ 'waiting-for-angular': !isContentLoaded }">
	<div ng-show="isContentLoaded" class="clearfix">
		<div class="card-layout-browse course clearfix ">
			<h1 translate="TOP_RATED_COURSES">Top Rated Courses</h1>

			<h2 translate="BEST_COURSES_HERE">Best Courses Here</h2>

			<div ng-repeat="t in featured | limitTo: 4">


				<div class="col-sm-3 col-xs-6 card">
					<a class="block-link" ng-href="#/courseinfo/{{t.trainingName}}">
						<div class="card-bg">
							<div class="card-image">
								<img ng-src="{{t.trainingImage}}">
							</div>
							<h1>{{t.trainingName}}</h1>
							<h4><span translate="COACH">Coach</span>: {{t.trainingCoach}}</h4>

							<div class="additional">
								<h3><span translate="START_DATE_CAPITAL">Start Date</span>: {{t.dateTraining | date:'dd
									MMMM' }}</h3>
								<h4>{{t.lessonNumber}} <span translate="LESSON">Lesson</span></h4>
								<a ng-href="#/courseinfo/{{t.trainingName}}" translate="CONTINUE_TO_INFO">Continue To
									Info</a>
							</div>
						</div>
					</a>
				</div>

			</div>

		</div>


		<div class="card-layout-browse course clearfix">
			<h1 translate="JUST_FOR YOU">Just For You</h1>

			<h2 translate="COURSES_SUIT_INTERESTS">Courses That Suit Your Interests</h2>

			<div ng-repeat="t in recommended | limitTo: 4">
				<div class="col-sm-3 col-xs-6 card">
					<a class="block-link" ng-href="#/courseinfo/{{t.trainingName}}">
						<div class="card-bg">
							<div class="card-image">
								<img ng-src="{{t.trainingImage}}">
							</div>
							<h1>{{t.trainingName}}</h1>
							<h4><span translate="COACH">Coach</span>: {{t.trainingCoach}}</h4>

							<div class="additional">
								<h3><span translate="START_DATE_CAPITAL">Start Date</span>: {{t.dateTraining | date:'dd
									MMMM' }}</h3>
								<h4>{{t.lessonNumber}} <span translate="LESSON">Lesson</span></h4>
								<a ng-href="#/courseinfo/{{t.trainingName}}" translate="CONTINUE_TO_INFO">Сontinue To
									Info</a>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="card-layout-browse category clearfix">
			<h1 translate="PICK_CATEGORY">Pick The Category</h1>

			<h2></h2>

			<div ng-repeat="c in categories">
				<a style="display:block" ng-href="#/browse/{{c.id}}">
					<div class="col-xs-3 card category">
						<div class="card-bg">
							<img ng-src="{{c.pictureLink}}">

							<div class="category-content">
								<h2>{{c.name}}</h2>

								<h3>{{c.trainingsNumber}} <span translate="DEPENDS_COURSES">Courses</span></h3>

							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!--
<div ng-init="limit = 2">
  <foo ng-repeat="item in items | limitTo: limit as results"></foo>
</div>
<button ng-hide="results.length === items.length"
		ng-click="limit = limit +2">show more...</button>
-->