   
<div id="browse" class="card-layout-browse course" ng-class="{ 'waiting-for-angular': !isContentLoaded }">
  <div ng-show="isContentLoaded">
    
    <div class="browse-header row">
      <div class="col-sm-4 col-xs-0">
        <p class="path"><a ng-href="#/browse">Browse</a> <i class="fa fa-angle-right"></i> {{categoryName}}</p>
      </div>
      <div class="col-sm-4 col-xs-6">
      
        <form name="localSearch">
        <input type="text" class = "form-control localSearchForm" name="search" ng-model="search" placeholder="Quick Look">
        </form>
        
      </div>
      
      <div class="col-sm-4 col-xs-6">
      
        <div class="dropdown">
          <button class="btn btn-default default-btn default-gray dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span ng-hide="true"class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <span cl>Sort by: <strong>{{getSortName(sort)}}</strong></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            
            <li><a href="" ng-click="changeSort('dateTraining')">Date</a></li>
            <li><a href=""  ng-click="changeSort('rating')">Rating</a></li>
            <li><a href="" ng-hide="false" ng-click="changeSort('trainingName')">A to Z</a></li>
            
          </ul>
        </div>
      
      </div>
      
    </div>
    <div class="no-courses"  ng-show="!allTrainings.length" >
        <p>No {{categoryName}} Courses Available.<p>
        <p style="margin-bottom:8px;">Want To Create One?<p>
          
        <button id="createcourse"class="btn btn-default accent-btn accent-blue" ng-click="createcourse()" aria-expanded="true"><i class="fa fa-pencil-square-o"></i><span>Create Course</span></button>
      </div> 
    <div class="browse-content">
  
      
      
        <div class="repeat-animation" ng-repeat="t in allTrainings | filter: search | orderBy : sort">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 card">
              <a class="block-link" ng-href="#/courseinfo/{{t.trainingName}}">
                <div class="card-bg">
                  <div class="card-image">
                    <img ng-src="{{t.trainingImage}}">
                  </div>
                  <h1>{{t.trainingName}}</h1>
<!--                  <h4>Coach: {{t.trainingCoach}}</h4>-->
                  
                   <rating ng-model="3" max="5" readonly="true" on-hover="" on-leave="" titles="['one','two','three']" state-on="'fa fa-star'" state-off="'fa fa-star-o'" class="clearfix"></rating>
                  
                  <div class="additional">
                    <h3>Start Date: {{t.dateTraining | date:'dd MMMM '}}</h3>
                    <h4>1 Lesson</h4>
                    <a ng-href="#/courseinfo/{{t.trainingName}}">Continue To Info</a>
                  </div>  
                </div> 
              </a>
            </div>    
        </div>  
    </div>
    </div>


</div>