
<div ng-controller="LoginController"  class="login-card row" id="login-card" ng-class="{'login-error':loginError}" >
        <div class="col-xs-2">
  
          
          
        </div>
        <div class="col-xs-8">
          <img src="assets/4thGroupLogo.png"/>
          <form ng-submit="submit()" role="form">
            <div class="form-inline">
              <label><span class="glyphicon glyphicon-user"></span></label>
              <input type="text" class="form-control" placeholder="{{'USERNAME' | translate}}" ng-model="login" autofocus>
            </div>  
            <div class="form-inline">
              <label ><span class="glyphicon glyphicon-lock"></span></label>
              <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}"  ng-model="password">
            </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember"  ng-model="isRemember">
                  <span translate="REMEMBER_ME">Remember Me</span>
                </label>
              </div>

            <button type="submit" class="btn btn-default default-btn default-gray" translate="LOG_IN">Log in</button>
          </form>
        </div>  
        <div class="col-xs-2"></div>
          
</div>
