
<div ng-controller="LoginController"  class="login-card" id="login-card" >
        
        <form ng-submit="submit()" role="form">
          <div class="form-inline">
            <label><span class="glyphicon glyphicon-user"></span></label>
            <input type="text" class="form-control" placeholder="Username" ng-model="login">
          </div>  
          <div class="form-inline">
            <label><span class="glyphicon glyphicon-lock"></span></label>
            <input type="password" class="form-control" placeholder="Password"  ng-model="password">
          </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember"  ng-model="isRemember">
                <span>Remember Me</span>
              </label>
            </div>
          
          <button type="submit" class="btn btn-default default-btn default-gray">Log in</button>
        </form>
          
</div>
