<div class="modal-header">

  <h3 class="modal-title"><span translate="REQUEST_ON">Request feedback on</span> {{user.name}}</h3>
  <h4 class="modal-title" translate="CHOOSE_TRAINING">Choose training:</h4>
  
</div>
  <div style="padding:16px; overflow:auto;">
    <table class="table table-striped">
        <thead>
          <tr>
              <th>#</th>
              <th translate="COURSE">Course</th>
              <th translate="COACH">Coach</th>
              <th translate="REQUEST">Request</th>
          </tr>
        </thead>
        <tr ng-repeat="f in archive" class="link-cursor"  ng-click="check($index)">
          <td>{{$index + 1}}</td>
          <td>{{ f.trainingName}}</td>
          <td>{{f.trainingCoach}}</td>
          <td><input type="checkbox" name="request"  ng-model="f.request" ng-click="check($index)"></td>
        </tr>
      </table>
    </div>
        
<div class="modal-footer">
    <button class="btn btn-default default-btn default-blue" ng-click="ok()" translate="REQUEST">Request</button>
    <button class="btn btn-default default-btn default-gray" ng-click="cancel()" translate="CANCEL">Cancel</button>
</div>
