<div class="modal-header">

  <h3 class="modal-title" translate="SETTINGS">Settings</h3>

</div>
        <div class="modal-body">
            
          <form  name="telForm">
            <div class="checkbox">
              <label translate="TURN_ON_SMS">
                <input type="checkbox" name="sms"  ng-model="isPhoneOn">
                Turn  <b>SMS</b> notifications on?
              </label>
            </div>
            
            <div ng-if="isPhoneOn" class="other-textarea" >
              <input type="tel" class="form-control" placeholder="{{'PHONE' | translate}}" ng-model="$parent.phoneNumber" name="phoneNumber" ng-pattern="phoneNumberPattern" required />
            </div>
           
          </form>
          
        </div>
<div class="modal-footer">
    <button class="btn btn-default default-btn default-blue" ng-click="ok()" ng-disabled="telForm.$invalid || telForm.$pristine" translate="APPLY">Apply</button>
    <button class="btn btn-default default-btn default-gray" ng-click="cancel()"translate="CANCEL">Cancel</button>
</div>
