<div>
    
    
    <div class="btn-group">
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'All'">All</label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Student'">Student</label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Coach'">Coach</label>
    </div>
    {{radioModel}}
    
    <form name="localSearch">
  <label>Search:
    <input type="text" class ="form-control" name="search" ng-model="search">
  </label>
    </form>
</div>