<div class="dos-head-tool row">
	<div class="col-sm-2 col-xs-0"></div>
	<div class="col-sm-8 col-xs-6">
		<div id="segmented-picker">
			<div class="btn-group">
				<label class="btn btn-default segmented-button segmented-button-left" ng-model="radioModel"
					   btn-radio="'All'"><span translate="ALL">All</span></label>
				<label class="btn btn-default segmented-button" ng-model="radioModel" btn-radio="'Student'"><span translate="STUDENT">Student</span></label>
				<label class="btn btn-default segmented-button segmented-button-right" ng-model="radioModel"
					   btn-radio="'Coach'"><span translate="COACH">Coach</span></label>

			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<form name="localSearch" id="localSearch">

			<input type="text" class="form-control localSearchForm" name="search" ng-model="search"
				   placeholder="{{'QUICK_LOOK' | translate}}">

		</form>
	</div>
</div>