<div ng-class="{ 'waiting-for-angular': !isContentLoaded }">
	<div ng-show="isContentLoaded">
		<div class="row courseinfo-div">
			<div class="col-xs-12">

				<div class="row">

					<div class="col-xs-12 col-sm-6">
						<span class="courseinfo-h1">{{course.name}}</span>

						<p class="courseinfo-h5 big-margin">Starts on: {{course.dateTime[0] | date:"dd MMMM"}}</p>

						<p class="courseinfo-h5 color-gray">{{course.lessonNumber}} lessons</p>

						<p class="courseinfo-h5 top-margin">Coach: {{course.coachName}}</p>

						<p class="courseinfo-h5">Category:

						<p ng-show="!course.idCategory">no category</p>
						{{categoriesObj[course.idCategory - 1].name}}
						</p>

						<p class="info-small color-gray">Recommended for:
							<span ng-show="!course.audience">no suggestions</span>
							{{course.audience}}</p>

					</div>

					<div class="col-xs-12 col-sm-6 courseinfo-img-container">
						<img class="courseinfo-img" ng-src="{{course.pictureLink}}">
					</div>

				</div>

				<div class="row top-margin">
					<div class="col-xs-12">
						<button class="btn btn-default default-btn"
								ng-class="{'default-blue': !isSubscriber, 'default-red': isSubscriber}"
								ng-disabled="subscriptionLoading" role="button" ng-click="subscribe()">
							{{isSubscriber ? "Leave" : "Subscribe" }}
							<i class="fa fa-spinner fa-spin" ng-show="subscriptionLoading"></i>
						</button>
						<button class="btn btn-default default-btn default-gray" role="button"
								ng-click="leaveFeedback()">Leave Feedback
						</button>
					</div>
				</div>

				<div class="row top-margin">
					<div class="col-xs-12">
						<div class="courseinfo-description scroll">
							<p class="info-small" ng-show="!course.description">Sorry, no description for this
								course.</p>
							{{course.description}}
						</div>
					</div>
				</div>

				<!-- Accordeon -->
				<div class="row top-margin">
					<div class="col-xs-12">
						<v-accordion class="vAccordion--default" multiple>

							<!-- add expanded attribute to open the section -->
							<v-pane>
								<v-pane-header>
									<span class="glyphicon glyphicon-time"></span>Timetable
								</v-pane-header>

								<v-pane-content>
									<button class="btn btn-default default-btn default-gray" ng-click="addLesson()">Add lesson</button>
									<table class="table courseinfo-table" ng-if="course.dateTime.length != 0">
										<thead>
										<tr>
											<th>Lesson</th>
											<th>When</th>
											<th>Where</th>
											<th ng-if="isAdmin">Edit date & place</th>
											<th ng-if="isAdmin">Omissions</th>
											<!--OR isCoach! -->
										</tr>
										</thead>
										<tr ng-repeat="lesson in course.dateTime">
											<td>{{$index + 1}}</td>
											<td>{{ lesson | date: "medium" }}</td>
											<td>{{ course.places[$index] }}</td>
											<td ng-if="isAdmin"><a href="" ng-click="editDatePlace($index)">edit</a>
											</td>
											<td ng-if="isAdmin"><a href="" ng-click="manageOmissions($index)">edit</a>
											</td>
										</tr>
									</table>
									<p ng-if="course.dateTime.length == 0">Sorry, no dates are known yet</p>
								</v-pane-content>
							</v-pane>

							<!-- add expanded attribute to open the section -->
							<v-pane ng-if="isAdmin">
								<v-pane-header>
									<span class="glyphicon glyphicon-user"></span>Participants
								</v-pane-header>

								<v-pane-content>
									<button class="btn btn-default default-btn default-gray" ng-click="addParticipant()">Add participant</button>
									<table class="table courseinfo-table"
										   ng-if="(course.listeners.length + course.spareUsers.length) != 0">
										<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>E-Mail</th>
										</tr>
										</thead>
										<tr ng-repeat="p in course.listeners" ng-class="{'link-cursor': isAdmin}"
											ng-click="goTo('/profile/' + p.login)">
											<td>{{$index + 1}}</td>
											<td>{{ p.name}}</td>
											<td>{{ p.email }}</td>
										</tr>
									</table>
									<p ng-if="(course.listeners.length + course.spareUsers.length) == 0">No participants
										yet</p>
								</v-pane-content>
							</v-pane>

							<!-- add expanded attribute to open the section -->
							<v-pane>
								<v-pane-header>
									<span class="glyphicon glyphicon-comment"></span>Feedbacks
								</v-pane-header>

								<v-pane-content>
									<table class="table courseinfo-table" ng-if="course.feedbacks.length != 0">
										<thead>
										<tr>
											<th>#</th>
											<th ng-if="isAdmin">From</th>
											<th>When</th>
											<th>View</th>
										</tr>
										</thead>
										<tr ng-repeat="f in course.feedbacks">
											<td>{{$index + 1}}</td>
											<td ng-if="isAdmin">{{ f.feedbackerName}}</td>
											<td>{{ f.date | date:"mediumDate" }}</td>
											<td><a href="" ng-click="viewFeedback(f)">show me</a></td>
										</tr>
									</table>
									<p ng-if="course.feedbacks.length == 0">No feedbacks yet</p>
								</v-pane-content>
							</v-pane>

						</v-accordion>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>