<div class="modal-header">
	<h3 class="modal-title courseinfo-h5">Edit date & place</h3>
</div>
<div class="modal-body">
	<form name="lessonForm">
		<div class="row">
			<div class="col-xs-12">
				<p class="col-xs-3 control-label" for="dropdown2">Edit date:</p>

				<div class="dropdown">
					<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
						<div class="input-group">
							<input type="text" class="form-control calendar"
								   ng-value="courseinfo.dateTime[index] | date: 'medium'" disabled>
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<datetimepicker ng-model="courseinfo.dateTime[index]"
										data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minuteStep: 15 }"/>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<label for="place" class="col-xs-3 control-label">Place: </label>

			<div class="col-xs-9">
				<input class="form-control" name="place" id="place" type="text" placeholder="Place"
					   ng-model="courseinfo.places[index]" required>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-default default-btn default-red" ng-click="deleteLesson()">Delete lesson</button>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default default-btn default-green" ng-click="ok()">OK</button>
	<button class="btn btn-default default-btn default-blue" ng-click="cancel()">Cancel</button>
</div>
