<div class="modal-header">
  <h3 class="modal-title">{{isView ? "The Feedback" : "Leave your Feedback"}}</h3>
  <h5 class="modal-title">{{courseinfo.name}}</h5>
  <h5 class="modal-title" ng-show="isView">From: {{feedback.feedbackerName}}</h5>
  <h5 class="modal-title">Coach: {{courseinfo.coachName}}</h5>
  
</div>
        <div class="modal-body">
            
          <form  >
            <div class="checkbox">
              <label>
                <input type="checkbox" name="clear"  ng-model="feedback.clear" ng-disabled="isView" >
                Was the course <b>clear?</b>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" name="interesting"  ng-model="feedback.interesting" ng-disabled="isView" >
                Was it <b>interesting?</b>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" name="newMaterial"  ng-model="feedback.newMaterial" ng-disabled="isView" >
                Was the material <b>fresh?</b>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" name="recommendation"  ng-model="feedback.recommendation" ng-disabled="isView" >                  Will you recommend this <b>course?</b>
              </label>
            </div>
            
            <div class="select">
              
                <select ng-model="feedback.effective" ng-disabled="isView">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                Rate <b>the effectiveness!</b>
              
            </div>
            
            <div class="other-textarea" style="padding-top:16px;">
              <p>Anything else?</p>
              <textarea class="form-control" name="description" rows="3" placeholder="Имеете шота сказать?" ng-model="feedback.other" ng-disabled="isView"></textarea> 
            </div>
            
            
            
          
          </form>
          
        </div>
<div class="modal-footer">
    <button class="btn btn-default modal-btn" ng-click="ok()" ng-hide="isView">Leave Feedback</button>
    <button class="btn btn-default modal-btn" ng-click="cancel()">Cancel</button>
</div>
