<div class="modal-header">
  <h3 class="modal-title">Omissions</h3>
  <h5 class="modal-title">{{courseinfo.name}}</h5>
  <h5 class="modal-title">Coach: {{courseinfo.coachName}}</h5> 
</div>
<div class="modal-body">
  <div class="omissiontable">
    <div class="row">
      <button class="btn btn-default pull-right" ng-click="selectAll()">Select all</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Absent?</th>
        </tr>
      </thead>
      <tr ng-repeat="person in courseinfo.listeners track by $index">
        <td>{{person.name}}</td>
        <td><input type = "checkbox" ng-model="omissionData[$index].isOmission"></td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default accent-btn" ng-click="ok()">OK</button>
    <button class="btn btn-default accent-btn" ng-click="cancel()">Cancel</button>
</div>
