<div class="modal-header">
	<h3 class="modal-title">Omissions</h3>
	<h5 class="modal-title">{{courseinfo.name}}</h5>
	<h5 class="modal-title">Coach: {{courseinfo.coachName}}</h5>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-default default-btn default-gray pull-right" ng-click="selectAll()">Select All
			</button>
		</div>
	</div>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Absent?</th>
			<th>Reason</th>
		</tr>
		</thead>
		<tr ng-repeat="person in courseinfo.listeners track by $index">
			<td>{{person.name}}</td>
			<td><input type="checkbox" ng-model="omissionData[$index].isOmission"></td>
			<td><input class="material-input" type="text" ng-model="omissionData[$index].reason"
					   placeholder="click to add"></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default default-btn default-blue" ng-click="ok()">Apply</button>
	<button class="btn btn-default default-btn default-gray" ng-click="cancel()">Cancel</button>
</div>
