<div class="modal-header">
	<h3 class="modal-title" translate="ADD_EXTERNAL_PARTICIPANT">Add external participant</h3>
</div>
<div class="modal-body">

	<form name="participantForm">

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin" translate="PARTICIPANT_NAME">Participant name:
					<input class="material-input" name="name" id="participantName" type="text"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="participantInfo.name"
						   required>
				</p>
			</div>

		</div>


		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin" translate="PARTICIPANT_LOGIN">Participant login:
					<input class="material-input" name="login" id="participantLogin" type="text"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="participantInfo.login"
						   required>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin" translate="PARTICIPANT_EMAIL">Participant email:
					<input class="material-input" name="email" id="participantEmail" type="email"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="participantInfo.email"
						   required>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="info-small courseinfo-label float-left no-bottom-margin" translate="PARTICIPANT_PHONE">Participant phone number:
					<input class="material-input" name="phone" id="participantPhone" type="text"
						   placeholder="{{'CLICK_TO_ENTER' | translate}}" ng-model="participantInfo.numberPhone"
						   required>
				</p>
			</div>

		</div>

	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-default default-btn default-blue" ng-click="ok()">OK</button>
	<button class="btn btn-default default-btn default-gray" ng-click="cancel()" translate="CANCEL">Cancel</button>
</div>
