<div class="modal-header">
	<h3 class="modal-title">Upload files</h3>
</div>
<div class="modal-body">

	<div ng-controller="AddFileUploadController">

		<span class="btn btn-file default-btn default-gray" id="uploadFileBtn">
			<i class="fa fa-plus"></i></i> Add file
			<input type="file" ng-file-select="onFileSelect($files)">
		</span>

		<div class="scrollable-div scroll small-margin width-60">
			<table class="table courseinfo-table" ng-if="filesToUpload.length != 0">
				<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tr ng-repeat="file in filesToUpload" class="rowWithSecret">
					<td>{{file.name}}</td>
					<td class="hiddenCell" ng-click="deleteFile($index)"><i class="fa fa-times"></i></td>
				</tr>
			</table>
			<p ng-if="filesToUpload.length == 0">No files uploaded yet</p>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-default default-btn default-blue" ng-click="ok()">Upload files</button>
	<button class="btn btn-default default-btn default-gray" ng-click="cancel()">Cancel</button>
</div>
