<div class="once-only-container" class="row">
    
    <div class="col-xs-12 inputs-container scroll" scroll="dateTime">
        
        <!--Datetimepicker-->
        <div class="row" ng-repeat="date in temp.tempDates track by $index">
            <div class="dropdown col-xs-10">
                <a class="dropdown-toggle" id="dropdown{{$index}}" role="button" data-toggle="dropdown">
                    <div class="input-group" id="inputDate">
                        <input type="text" class="form-control" ng-value="temp.tempDates[$index] | date: 'medium'">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </a>
                
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="temp.tempDates[$index]" data-datetimepicker-config="{ dropdownSelector: '#dropdown{{$index}}' }"/>
                </ul>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-danger" ng-click="deleteDate($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
      
        
        <div class="row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addDate()">Add date</button>
            </div>
            <div class="col-xs-9"></div>
        </div>
        
    </div>
</div>