div.inputs-container {
    min-height: 200px;
    max-height: 245px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
}

div.inputs-container > * {
    margin: 10px;
}

.calendar {
    width: 230px;
    min-width: 200px;
    float: left;
    border: none !important;
}

.addon-calendar {
	padding-right: 4px !important;
	background-color: white !important;
	border: none !important;
	font-size: 18px !important;
	box-shadow: none !important;
}

#deleteDate {
    float: left;
}

#delete-btn {
    border: none !important;
	font-size: 20px !important;
}

.scroll::-webkit-scrollbar-track {
	width:8px;
}

.scroll::-webkit-scrollbar {
	width: 12px;
}

.scroll::-webkit-scrollbar-thumb {
	border: 1px solid #eeeeee;
    background-clip: padding-box;
	border-radius: 5px;
	background-color: #eeeeee;
}