<div class="admin-container row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <ul class="nav nav-tabs" role="tablist" ng-model="page">
            <li role="presentation" class="active">
                <a href ng-click="setPage(0)" role="tab" data-toggle="tab" translate="TO_APPROVE"></a>
            </li>
            <li role="presentation">
                <a href ng-click="setPage(1)" role="tab" data-toggle="tab" translate="STATISTICS">Statistics</a>
            </li>
            <li role="presentation">
                <a href ng-click="setPage(2)" role="tab" data-toggle="tab" translate="NEWS">News</a>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <div ng-include="page.url"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>