<div ng-controller="ApproveController">
    <div class="approvetable">
        <h5 class="space-16">Courses that need your attention</h5>
        <table class="table">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Coach</th>
                  <th>Status</th>
              </tr>
            </thead>
            <tr ng-repeat="course in toApproveList track by $index" class="link-cursor" ng-click="goTo('#/editcourse/' + course.trainingName + '/' + course.state)">
                <td>{{course.trainingName}}</td>
                <td>{{course.trainingCoach}}</td>
                <td>{{course.state}}</td>
            </tr>
        </table>
        </div>
</div>

