<div ng-controller="NewsController" class="news-cont">
  <button ng-click="readAll()" style="float:right;"class="btn btn-default default-btn default-gray">Read All</button>
  <table class="table">
    <thead>
    </thead>
    <tr ng-repeat="news in newsList track by $index" class="news" ng-click="setAsRead(news.id)">
      <td ng-class="{'bg-color-gray': !news.isRead}">
      <div >
        <h2 class="news-type">{{getTypeString(news.type)}}</h2>
        <a href="#/profile/{{news.login}}">{{news.name}}</a> {{news.description}} <a href="{{getLinkByType(news.type, news)}}">{{getNewsByType(news.type, news)}}</a>
        <h3 class="news-date">14.08.2015 14:00</h3>
      </div>
      </td>
    </tr>
  </table>
  
  <pagination total-items="totalItems" ng-model="pageNumber" items-per-page="10" ng-change="getNews(pageNumber)" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </pagination>
</div>
</div>