<div ng-controller="NewsController">
  <table class="table">
    <thead>
    </thead>
    <tr ng-repeat="news in newsList track by $index">
      <td align="center" ng-class="{bgcolorgray: !news.isRead}"><a href="">{{news.name}}</a> {{news.desciption}}</td> <!-- LOGIN HREF -->
    </tr>
  </table>
  
  <pagination total-items="totalItems" ng-model="pageNumber" items-per-page="2" ng-change="getNews(pageNumber)" boundary-links="true">
  </pagination>
</div>


<!--WebSockets
<div ng-controller="SomeController">
  <ul>
      <li ng-repeat="data in MyData.collection track by $index">
        {{ data }}
      </li>
    </ul>
</div>-->