<link rel="stylesheet" href="page_admin/admin_navbar/statistics.css">
<div ng-controller="StatisticsController">
	<div class="statistics-container">

		<form class="form-horizontal" novalidate>

			<div class="row">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" id="pStartDate" translate="START_DATE">Start date:
					</p>

					<div class="calendar">
						<a class="dropdown-toggle" id="dropdown0" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control calendar"
									   ng-value="temp.tempDates[0] | date: 'mediumDate'" placeholder="click to add date" disabled>
							<span class="input-group-addon addon-calendar">
                                <i class="fa fa-calendar"></i>
                            </span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker ng-model="temp.tempDates[0]"
											data-datetimepicker-config="{ dropdownSelector: '#dropdown0', minView: 'day' }"/>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" id="pEndDate" translate="END_DATE">End date:
					</p>

					<div class="calendar">
						<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control calendar"
									   ng-value="temp.tempDates[1] | date: 'mediumDate'" placeholder="click to add date" disabled>
							<span class="input-group-addon addon-calendar">
                                <i class="fa fa-calendar"></i>
                            </span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker ng-model="temp.tempDates[1]"
											data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minView: 'day' }"/>
						</ul>
					</div>
				</div>
			</div>

			<div class="row top-margin">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" id="pSelectType" translate="SELECT_TYPE">Select type:
					</p>
					<div>
						<label class="checkbox-inline"><input type="checkbox" name="one" ng-model="currentType" ng-click="one()" translate="TRAINING">Training</label>
						<label class="checkbox-inline"><input type="checkbox" name="one" ng-model="currentType2" ng-click="two()" translate="LISTENER">Listener</label>
					</div>
				</div>
			</div>

			<div class="row" ng-show="currentType2">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" translate="SELECT_PERSON">Select person: </p>

					<div class="dropdown float-left">
						<p class="info-small dropdown-toggle no-bottom-margin" type="button" id="personPopover"
						   popover-placement="bottom" popover-trigger="click"
						   popover-template="'/page_admin/admin_navbar/popovers/personPopover.html'">
							<a href="" class="link-select" ng-if="!userSelect.userLogin">select</a>
							<a href="" class="link-select"
							   ng-if="userSelect.userLogin">{{temp.userName}}</a>
						</p>
					</div>
				</div>
			</div>

			<div class="row" ng-show="currentType">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" translate="SELECT_TRAINING">Select training: </p>

					<div class="dropdown float-left">
						<p class="info-small dropdown-toggle no-bottom-margin" type="button" id="trainingPopover"
						   popover-placement="bottom" popover-trigger="click"
						   popover-template="'/page_admin/admin_navbar/popovers/trainingPopover.html'">
							<a href="" class="link-select" ng-if="!userSelect.trainingName">select</a>
							<a href="" class="link-select"
							   ng-if="userSelect.trainingName">{{userSelect.trainingName}}</a>
						</p>
					</div>
				</div>
			</div>

			<div class="row" ng-show="currentType2">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" translate="SELECT_TYPE">Select type: </p>

					<div class="dropdown float-left">
						<p class="info-small dropdown-toggle no-bottom-margin" type="button" id="statTypePopover"
						   popover-placement="bottom" popover-trigger="click"
						   popover-template="'/page_admin/admin_navbar/popovers/statTypePopover.html'">
							<a href="" class="link-select" ng-if="!userSelect.type">select</a>
							<a href="" class="link-select"
							   ng-if="userSelect.type">{{userSelect.type}}</a>
						</p>
					</div>
				</div>
			</div>

			<div class="row" ng-show="currentType">
				<div class="col-xs-12">
					<p class="info-small courseinfo-label float-left no-bottom-margin" translate="SELECT_TYPE">Select type: </p>

					<div class="dropdown float-left">
						<p class="info-small dropdown-toggle no-bottom-margin" type="button" id="statTTypePopover"
						   popover-placement="bottom" popover-trigger="click"
						   popover-template="'/page_admin/admin_navbar/popovers/statTTypePopover.html'">
							<a href="" class="link-select" ng-if="!userSelect.type" translate="SELECT">select</a>
							<a href="" class="link-select"
							   ng-if="userSelect.type">{{userSelect.type}}</a>
						</p>
					</div>
				</div>
			</div>

			<div class="row top-margin">
				<div class="col-xs-12">
					<button ng-disabled="generating" ng-click="save(userSelect)" type="button" class="btn btn-default default-btn default-green" id="GenerateStatistics" translate="GENERATE_STATISTICS">Generate Statistics&nbsp;<i class="fa fa-spinner fa-spin" ng-show="generating"></i> </button>
				</div>
			</div>
		</form>
	</div>
</div>