.statistics-container {
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16px !important;
}

.statistics-container .calendar {
	width: 130px !important;
}

#pStartDate,
#pEndDate,
#pSelectType {
	margin-top: 8px!important; 
}

#pEndDate {
	margin-right: 7px!important; 
}

#pSelectType {
	margin-right: 5px!important; 
	margin-bottom: 20px ;
}
