
<button class="btn btn-default default-btn default-blue right-corner" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>


  <div class="search-container">
        <div class="modal-header">
          
          <input type="text" class="form-control" ng-model="searchQuery" ng-model-options="{debounce: { 'default': 250} }" ng-change="search()" placeholder="Search ...">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          
           

        </div>


        <div class="modal-body">
          <div class="message" ng-show="message != ''">{{message}}</div>
            
          
          
          <div class="query" ng-repeat="r in result" ng-click="goto('/courseinfo/'+ r.trainingName)">
          
          
            <div class="main-content col-xs-6">
              <h3>Training</h3>
              <h1>{{r.trainingName}}</h1>
              <h2>Coach: {{r.trainingCoach}}</h2>
              <div class="q-footer">
              <h4>state: {{r.state}}</h4>
              <h4>start date: {{r.dateTraining | date: "dd MMM yyyy"}}</h4>
              </div>
            </div>
            <div class="img-cont col-xs-6"><img ng-src="{{r.trainingImage}}"></div>
          </div>
          
          
          
          <div class="query" ng-repeat="r in resultC" ng-click="goto('/profile/'+ r.login)">
          
          
            <div class="main-content col-xs-6">
              <h3>User</h3>
              <h1>{{r.name}}</h1>
              <h2>{{r.email}}</h2>
              <div class="q-footer">
              <h4>phone: {{r.numberPhone}}</h4>
              <h4>login: {{r.login}}</h4>
              </div>
            </div>
<!--            <div class="img-cont col-xs-6"></div>-->
          </div>
          
        
    
    
            
          
          
        </div>
    
    </div>

