/* app css stylesheet */

/*@import url(assets/SanFranciscoFont/usesf.css)*/



body{
	font-family: 'San Francisco Text',"Proxima Nova" sans-serif;
    
	padding-top: 80px;
	height: 100vh !important;

	color: rgba(0,0,0,0.6);
	-webkit-font-smoothing: subpixel-antialiased;
}

.form-control{
	border: none !important;
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

body a{
	color: #55acee;
	font-weight: 200;
}
body a:hover{
	color: #25709D ;
	text-decoration: none;
}
a.block-link,
a.block-link:hover{
	display: block;
	color: rgba(0,0,0,0.6) ;
	text-decoration: none;
	font-weight: 400;
}

body h1{
	font-family: 'Lato',"Proxima Nova" serif;
	font-weight: 400 !important;
	color: black !important;
	line-height: 1.2 !important;
	letter-spacing: 0.02em;
}

/*
.ng-hide {
	display: none !important;
}
*/


.link-cursor{
	cursor: pointer;
}

.link-cursor td{
	transition: all 0.1s ease 0.05s;

}
.link-cursor:hover td{
	color: #55acee;
	transition: all 0.1s ease 0.05s;

}
.ng-hide-remove{
	-webkit-animation: fadeIn 0.2s ;
	-moz-animation: fadeIn 0.2s ;
	-o-animation: fadeIn 0.2s ;
	animation: fadeIn 0.2s ;
}

.separator-lg{
	height: 75px;
}


/* feat: before angular is ready, display loading animation */
body.waiting-for-angular div#content-outer {
	display: none;

}
.waiting-for-angular{
	display: block;

	background: url(assets/puff.svg) no-repeat center center ;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;

}
.waiting-for-angular-login{
	display: block;
	margin: 0 auto;
	background: url(assets/puff.svg) no-repeat center center ;
	/*
	  position:absolute;
	  top:0;
	  left:0;
	  width: 100%;
	  height: 100%;
	*/

}
div#content-outer {
	min-height: 100% !important;
	position: relative;

}

/* modal */

.modal-backdrop.in{
	opacity: 0.75;
}
.search-modal .modal-content{
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.search-modal .right-corner{
	position: fixed !important;

	border: none;
	border-radius: 0 !important;

	top:16px;
	right: 16px;
	font-size: 14px;

	color: rgba(255,255,255,0.5) !important;
}
.search-modal .right-corner:hover{
	color: #55acee !important;
}


.search-modal .modal-dialog.modal-lg{
	width: 100% !important;
	margin: 0;
}
.search-container{
	width: 720px;
	margin: auto;
}
.search-container>*{
	padding-right: 0;
	padding-left: 0;
}
.search-container>.modal-header{
	border: none;

}
.search-container .message{
	margin-top: -8px;
	color:white;
	width: 100%;
	text-align: center;

}
.search-container .form-control{
	width: 100%;
	padding-left:0;
	padding-right: 24px;

	font-family: serif;

	font-size: 32px;
	font-weight: bold;
	height: 60px;
	line-height: normal;
	outline-color: rgb(255, 255, 255);
	vertical-align: middle;

	color:white;
	background-color: transparent;
	border: none;
	box-shadow: none;

	border-bottom: 1px solid white;
	border-radius: 0px;
}
.search-container .glyphicon{
	float: right;
	color: rgba(255,255,255,0.5);
	top: -36px;
	font-size: 18px;
	line-height: 18px;

}
.search-container .query{
	height: 140px;
	position: relative;
	color: white;
	border-bottom: 0.65px solid rgba(255,255,255,0.5);
	padding-top: 16px;
	padding-bottom: 16px;

	cursor: pointer;
}
.search-container .query .img-cont{
	width: 172px;
	height: 110px;
	padding: 0;

	display: block;
	background-color:gray;
	margin-left: 8px;


}
.search-container .query .img-cont img{
	object-fit: cover;
	height: 100%;
	width: 100%;

	height: 110px;
	width: 172px;
}
.search-container .query>.main-content{
	width: 540px;

	height: 100%;
	padding: 0;
	margin: 0;
}
.search-container .query h3{
	font-size: 12px;
	line-height: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 8px;

	color: #55acee;
}
.search-container .query h1{
	color:white !important;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	margin: 0;
}
.search-container .query h2{
	font-size: 12px;
	line-height: 12px;
	color:white;
	margin: 0;
}


.query .q-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;


	font-size: 11px;
	line-height: 11px;
	color:rgb(153,153,153)
}
.query h4{
	margin: 0;
	font-size: 11px;
	line-height: 11px;
}

.modal-content textarea,
.modal-content input{
  border: 1px solid rgba(0,0,0,0.15) !important;
  padding-left: 4px !important;
  padding-top: 4px !important;
}
.modal-footer {
 border-top: none; 
}

/* my-app-footer*/
my-app-footer{
	overflow: auto;
	display: inline-block;
	width: 100%;
	height: 80px;
}

.footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	position:absolute;
	bottom:0;
	left:0;


}

.ng-view-content {
	/*footer height*/
	padding-bottom:80px;

	display:block;

}

.footer-link {
	margin-right: 25px;
	font-size: 11px;
}

/* header */


.medium-navbar{
	text-transform: uppercase;
	font-size: 11.5px !important;
	color: rgba(0,0,0,0.6);
	height: 67px;
	max-height: 67px;
	background-color: rgba(255,255,255,0.96) !important;

	border-bottom: 1.5px solid rgba(0,0,0,0.07);
}
.navbar-collapse.medium-navbar{
	border: none;
	max-height: none;
	background-color: transparent !important;

}

.medium-navbar-nav>li>a{
	color: rgba(0,0,0,0.6); !important;
	font-weight: 300;
	letter-spacing: 0.9px;
	padding-top: 25px;
	padding-bottom: 22px;
	padding-right: 15px;
	padding-left: 15px;
  
    background-color: transparent;

}
.medium-navbar-nav>li>a:hover{
	color: rgba(0,0,0,0.9); !important;
}
.navbar-brand.medium-brand{

	padding-top: 14px;
	padding-bottom: 10px; /* approximetly */
	margin-right: -10px;

}
.medium-navbar-nav>li>button{
	margin-top:16px;
	margin-right: 16px;
}
.medium-navbar-nav>li .glyphicon{
	color:rgba(0,0,0,0.4);
	font-size: 14px;
}
button#createcourse .fa-pencil-square-o,
.medium-navbar-nav>li button .fa-pencil-square-o{
	margin-right: 4px;
  
  position: relative;
  top: 1px;
  font-size: 16px;
}
button#createcourse,
.medium-navbar-nav>li button{
  font-weight: 500 !important;
  
}
.medium-navbar-nav>li:hover>a>.glyphicon{
	color:rgba(0,0,0,0.6);
	font-size: 14px;
}

.navbar-brand.medium-brand>img{
	height:28px;
}

.medium-navbar-nav>.active>a{
	background-color: transparent!important;
	font-weight: 600;

	color: rgba(0,0,0,0.9) !important;
	height: 67px;
	border-bottom: 2px solid rgba(0,0,0,0.9);
	letter-spacing: 0.9px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 14px;
	margin-right: 14px;
	padding-top: 25px;
	padding-bottom: 22px;

}
.medium-navbar-nav>.open>a{
	background-color: white !important;
}
.dropdown-menu,
.medium-navbar-nav>.open>.dropdown-menu{
	border: none;
	-webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
	box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
	font-size: 11.5px;
	text-transform: none;
	border-radius: 0 0 4px 4px;
	border-top: 1px solid #fafafa


}
.dropdown-menu{
	border-radius: 4px;
}

.dropdown-menu .glyphicon,
.medium-navbar-nav>.open>.dropdown-menu .glyphicon{
  font-size: 10px;
  margin-right: 4px;
}
.dropdown-menu>li>a:hover,
.medium-navbar-nav>.open>.dropdown-menu>li>a:hover{
	color:#2C2C2C !important;
	background-color: transparent;
}
.dropdown-menu>li>a:hover,
.medium-navbar-nav>.open>.dropdown-menu>li>a:hover .glyphicon{
	color:rgba(0,0,0,0.6);
	
}
.dropdown-menu>li>a,
.medium-navbar-nav>.open>.dropdown-menu>li>a{
	color:#5C5C5C;
	background-color: transparent;
}
.medium-navbar-nav .notification-number{


	width: 16px;
	height: 16px;

	text-align: center;



	color: white;
	background-color: #55acee;
	border: 0.5px solid #55acee;







	border-radius: 16px;

	position: absolute;
	top:22px;
	right: -4px;

	letter-spacing: -1px !important;
	font-weight: 500;


}
.medium-navbar-nav .notification-number>span{
	height: 16px;
	width: 16px;
	text-align: center;
	position: relative;
	top:-2px;
	left: -0.5px;
}

.bounce-notif-add{
	-webkit-animation: bounce 1s;
	-moz-animation: bounce 1s;
	-o-animation: bounce 1s;
	animation: bounce 1s;
}
.bounce-notif-remove{
	-webkit-animation: bounce 1s;
	-moz-animation: bounce 1s;
	-o-animation: bounce 1s;
	animation: bounce 1s;
}



.notification-number.ng-hide-remove{
	-webkit-animation: bounce 1s;
	-moz-animation: bounce 1s;
	-o-animation: bounce 1s;
	animation: bounce 1s;
}


/* 
    !!!!Deckgrid!!!! 
*/




/*
DOS-HEAD-TOOL
*/
#localSearch {
	float: right;

}
.localSearchForm{
	width: 200px;
	height: 36px;
	border-radius: 16px;
}

#segmented-picker {
	align-content: center;
	width: 240px;
	margin: auto;

}

.segmented-button{
	color: rgba(0,0,0,0.6);
	width: 80px;
	height: 36px;
	background-color: white!important;
	box-shadow: none !important;
	border-color: #ccc !important;
}
.segmented-button.active{

	background-color: #fafafa !important;

	color:#8C8C8C !important;

}



.segmented-button-left{
	border-radius: 16px 0px 0px 16px;
}

.segmented-button-right{
	border-radius: 0px 16px 16px 0px;
}

.dos-head-tool {
	margin: 0;
	height: 44px;
	padding-bottom: 16px;

}
.dos-head-tool input.form-control{
	border: 1px solid #ccc !important;
}

/*
course-info
*/


.course-info-content {
	margin: 0;
	padding: 0px 16px 0px 16px !important;
	overflow: auto;

}
.course-info-content .img-cont{
	padding-top: 34px;
}
.course-info-row{
	padding: 0px 16px 0px 16px !important;
	overflow: auto;
}
.course-info-text{
	color: rgba(0,0,0,0.6);
}
.course-info-text>h1{
	font-size: 48px;
	color: rgba(0,0,0,0.6);
	font-weight: 500;
	margin: 0;
	margin-top: 32px;
	margin-bottom: 16px;
	line-height: 58px;
	width: 60%;


}
.course-info-text>p{
	font-size: 20px;
	width: 100%;
}

.color-gray{
	color: #8C8C8C !important;
}
.space-16{
	margin-bottom: 16px !important;
	margin-top: 16px !important;
}

.course-info-text>h5,
.timetable>h5,
.feedbacks>h5,
.participants>h5{
	font-size: 24px;
	color: rgba(0,0,0,0.6) ;
	font-weight: 300;
	margin: 0;

}
.info-small{
	font-size: 16px !important;
}

.course-info-btn{
	background-color: white !important;
	font-size: 20px;
	color: rgba(0,0,0,0.6);
	border: none;
	border-bottom: 3px solid rgba(0,0,0,0.6);
	border-radius: 0px;
	padding: 0px 10px 4px 10px;
	box-shadow: none !important;
}
.edit-btn .course-info-btn{
	background-color: transparent !important;
}
.course-info-btn.glyphicon-edit{
	background-color: transparent !important;
}
.course-info-btn:hover{
	color: #8C8C8C;
	border-bottom-color: #8C8C8C;

}
.course-info-btn.glyphicon{
	font-size: 20px;
	border: none !important;
}
.no-border{
	border: none !important;
	border-bottom: none !important ;
}
.semi-bold{
	font-weight: 500;
}

.timetable{
	padding-top: 50px;
}
/*mycourses*/
.no-courses{
	width: 300px;
	text-align: center;
	margin: auto;
	margin-top: 200px;
	color:#8c8c8c;
	letter-spacing: 1px !important;
}
.no-courses>*{
	margin: 0;
}
.no-courses>h2{
	font-size: 16px;

	color:#8c8c8c;
}
.no-courses>h1{
	font-size: 21px;

	color: #55acee;
	font-weight: 300;

}
.no-courses>p{
	margin: 0;
	margin-bottom: 4px;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px !important;
	color: rgba(0,0,0,0.6);
}
.no-courses.ng-hide-remove{

	-webkit-animation: fadeInUp 0.3s ease-out;
	-moz-animation: fadeInUp 0.3s ease-out;
	-o-animation: fadeInUp 0.3s ease-out;
	animation: fadeInUp 0.3s ease-out;
}

.card-layout-mycourses {
	padding-top: 16px;
	overflow: visible;
}

.card-layout-mycourses .card {
	padding: 10px 8px;
	line-height: 32px;
	min-height: 320px;
	height: 100%;

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.card-layout-mycourses .card,
	.card-layout-mycourses .card .card-bg{
		min-height: 280px !important;

	}

}

@media screen and (max-width: 768px) {
	.card-layout-mycourses .card,
	.card-layout-mycourses .card .card-bg{
		min-height: 280px !important;
	}

}
.card-layout-mycourses .card .card-bg .content{
	height: 100%;

}
.card-layout-mycourses .main{
	position: relative;
	min-height: 175px;
}
@media (max-width: 1200px){
	.card-layout-mycourses .main{

		min-height: 140px;
	}

}
.card-layout-mycourses .main>*{

	margin: 0;
}
.card-layout-mycourses .additional{
	/*
	  position: absolute !importa;
	  bottom: 0;
	*/
	position: relative;

}
.card-layout-mycourses .additional>*{
	margin: 0;
	line-height: 17px;
}

.card-layout-mycourses .card .card-bg{

	cursor: pointer;
	padding: 38px 16px;
	height: 100%;
	width: 100%;
	min-height: 320px;

	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	transition: all 250ms;

	-webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.card-layout-mycourses .card .card-bg:hover{
	-webkit-box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}

.card-layout-mycourses .card a{
	font-size: 13px;
	font-weight: 300;
}
.card-layout-mycourses .card .additional a{
	font-size: 13px;
	font-weight: 300;
	padding-left: 21px;

}

.card-layout-mycourses .card>*>*{
	padding: 0;
}
.card-layout-mycourses .card .card-image{
	padding-right: 40px !important;
    max-height: 280px !important;
 

}
.card-layout-mycourses .card .card-image img{
	
    max-width:100%;
    max-height: 280px !important;
	
}



.card-layout-mycourses .card{
	color: rgba(0,0,0,0.6);
}
.card-layout-mycourses .card>*>*>*{
	margin: 0;
}
.card-layout-mycourses .card h1{
	font-size: 27px;

	font-weight: 600;

}
.card-layout-mycourses .card h2{
	font-weight: 200;

	color: #8C8C8C;
	font-size: 18px;
}
.card-layout-mycourses .card h3{
	font-weight: 200;
	font-size: 15px;
}

.card-layout-mycourses .coach-label{
	position: absolute;
	bottom: 0;
	font-size: 13px;
	font-weight: 500;
	line-height: 17px;
}
.card-layout-mycourses .glyphicon{
	margin-right: 8px;
	font-size: 13px;
}
.card-layout-mycourses .coach-label .glyphicon{
	color:#55acee;

}



/*browse*/


.card-layout-browse {
	padding-top: 16px;
	padding-bottom: 16px;
	overflow: visible;
}


.card-layout-browse .card {
	padding: 10px 8px;
	line-height: 32px;
	height: 400px;

}
.card-layout-browse .card .card-bg{
	padding: 38px 16px;

	width: 100%;
	height: 100%;

	position: relative;
	/*
		-webkit-box-shadow: 0px 1px 2px 0px rgba(158,158,158,1);
		box-shadow: 0px 1px 4px 0px rgba(158,158,158,1);
	*/
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	transition: all 250ms;

	-webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);



}

.card-layout-browse#browse{
  padding-top: 0;
}
.card-layout-browse .path{
  
  font-size: 16px;
  line-height: 36px;
  margin-left: 8px;
/*  padding-left: 16px;*/
  color: rgb(0, 0, 0,0.6);
  
/*  border-left: 1px solid rgb(204, 204, 204);*/
 }


.card-layout-browse .path i{
  margin-left: 4px;
  margin-right: 4px;
}
.card-layout-browse p.path {
  margin-bottom: 0px;
  
}

.card-layout-browse .browse-header{
  padding-bottom: 24px;
  padding-top: 0;
}
.card-layout-browse .form-control{
  width: 200px;
  margin: auto;
  border: 1px solid #ccc !important;
}
.card-layout-browse .browse-header .dropdown{
  float: right;
  width: 124px;
  margin-right: 8px;
}
.card-layout-browse .browse-header .dropdown button{
/*  border: none !important;*/
  height: 36px;
  width: 124px;
}
.card-layout-browse .browse-header .dropdown strong{
/*  border: none !important;*/
  font-weight: 500;
}
.card-layout-browse .browse-header .dropdown .dropdown-menu{
right: 0;
left: auto;
  min-width: 124px !important;
  
}
.card-layout-browse .browse-header .dropdown .dropdown-menu>li{
width: 124px;
}

.card-layout-browse .card i{
  margin-right: 2px;
  font-size: 14px;
  color: #55acee;
  position: relative;
  top:-4px;
}
.card-layout-browse .card i.fa-star-o{
  opacity: 0.5;
  
}


.card-layout-browse.course .card .card-bg:hover{
	-webkit-box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}

.card-layout-browse .card a{
	font-size: 15px;
}

.card-layout-browse .card>*{
	padding: 0;
}
.card-layout-browse .card-image{
	max-height: 150px;

	margin-top: -38px !important;
	margin-left: -16px !important;
	margin-right: -16px !important;
	padding-bottom: 16px !important;

}
.card-layout-browse .card img{
	object-fit: cover;
	height: 100%;
	width: 100%;
	max-height: 150px;

}


.card-layout-browse .card{
	color: rgba(0,0,0,0.6);
}
.card-layout-browse .card>*>*{
	margin: 0;
}
.card-layout-browse .card h1{
	margin-top: 8px;
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 500;

}
.card-layout-browse .card h2{
	font-family: sans-serif;
	font-weight: 200;
	margin-bottom: 4px;
	color: #8C8C8C;
	font-size: 18px;
}
.card-layout-browse .card h4{
	font-weight: 300;
	color: #8C8C8C;
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 4px;
}
.card-layout-browse .card h3{
	font-weight: 200;
	font-size: 16px;
	margin-bottom: 0;
	color:black;
}

.card-layout-browse .additional{
	position: absolute;
	bottom: 8px;
}
.card-layout-browse .additional a{
	font-size: 13px;
	font-weight: 300;
}
/* browse main */
.card-layout-browse>h1{
	font-weight: 600;
	
	padding-left: 10px;
    margin-bottom: 0;

}
.card-layout-browse>h2{
    margin-top: 0;
	
	margin-bottom: 16px;
	padding-left: 10px;
  
    font-size: 18px;
    font-weight: 300;
    font-family: "Lato";
    letter-spacing: 0.4px;
}
.card-layout-browse.category h2{
	text-align: center;
	margin-top: 0;
	font-size: 20px;
	color: white;
	font-weight: 300;
	font-family: sans-serif;
}
.card-layout-browse.category h3{
	text-align: center;
	margin-top: 0;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	display: none;
}
.card-layout-browse.category .card:hover .category-content{
	top: 45%;
	-webkit-transition: top 0.5s ease;
	-moz-transition: top 0.5s ease;
	-o-transition: top 0.5s ease;
	transition: top 0.5s ease;

}
.card-layout-browse.category .card .category-content{
	top: 50%;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;

}
.card-layout-browse.category .card:hover img{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	-webkit-animation: brightness 0.5s;
	-moz-animation: brightness 0.5s;
	-o-animation: brightness 0.5s;
	animation: brightness 0.5s;

}


.card-layout-browse.category .card:hover h3{
	display: block;
	-webkit-animation: fadeInUp 0.3s ease;
	-moz-animation: fadeInUp 0.3s ease;
	-o-animation: fadeInUp 0.3s ease;
	animation: fadeInUp 0.3s ease;

}
.card-layout-browse.category .card-image{
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: -1;
	margin: 0 !important;

	margin-top: -38px !important;

}
.card-layout-browse.category img{
	-webkit-filter: brightness(50%);
	filter: brightness(50%);

	position: absolute;
	display: block;
	max-height: none;
	width: 100%;
	height: 100%;


	margin-top: -38px;
	margin-left: -16px;
	/*
	  padding-bottom: 19px;
	  padding-right: 16px;
	*/
	z-index: -1;
}



.card-layout-browse.category .category-content{
	width:100%;

	position: absolute;
	margin-left: -16px;
	top: 50%;
	transform: translateY(-50%);

}
.card{
  word-wrap: normal;
  word-break: normal;
}

.card-layout-browse.category .card {
	padding: 10px 8px;
	line-height: 32px;
	height: 300px;

}
@media  (min-width: 992px) and (max-width: 1200px) {
	.card-layout-browse.category .card{
		height: 236px;
	}
}
@media (min-width: 750px) and (max-width: 991px) {
	.card-layout-browse.category .card{
		height: 172px;   
	}
  .card-layout-browse.category h2{
		font-size: 18px !important;
	}
}
@media  (max-width: 769px) {
	.card-layout-browse.category .card{
		height: 158px;
	}
    .path{
      display: none;
    }
  .card-layout-browse.category h2{
		font-size: 18px !important;
	}
}



/*modals*/
textarea.form-control{

	padding-left: 0;
	resize: none;
	padding-top: 0;
	overflow: visible;
}

.modal-btn{
	background-color: white !important;
	color: rgba(0,0,0,0.6);
	border: none;
	border-bottom: 3px solid rgba(0,0,0,0.6);
	border-radius: 0px;
	padding: 0px 8px 2px 8px;
	box-shadow: none !important;
}
.modal-btn:hover{
	color: #8C8C8C;
	border-bottom-color: #8C8C8C;
}

/* courseinfo (Ann)*/

.course-info-text-div{
	margin: auto;
	max-width: 700px;
}
.course-info-btn-div{
	float: right;
}

.course-info-text-div .edit-btn {
	position: absolute;
	right: 0;
	top: 0px;
	background-color: transparent;

}

/* profile */
.profile-info{
	padding-top: 44px;

}
.profile-container{
	max-width: 900px;
	margin: auto;

}
.profile-container h2{

	margin: 8px 0 ;


}
.profile-container h4{
	font-weight: 200;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}
.profile-container h4>a{
	margin-left: 4px;
}
.profile-container h4>span{
	margin-right: 4px;
	font-size: 12px;
}
.profile-control{
	padding-top: 16px;
}
.profile-control>*{
	margin-right: 8px;
	float: left;
}

/*
.btn-feedback-icon{
  width: 34px;
  height: 34px;
  display: block;
  margin: auto;
  background: url(assets/men14.svg) no-repeat top center ;
  background-color: transparent;
  fill: #aaa;
  
}
.btn-feedback{
  widows: 32px;
  height: 64px;
  vertical-align: middle;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  
}
*/
#delete-feedback{
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 0;
  width: 36px;
  height: 36px;
  padding: 0;
  padding-left: 4px;
  padding-top: 7px;
  
}


/* ACCORDION!!!!
   ***************************************/
.vAccordion--default v-accordion {
	margin-top: 20px;
	padding-left: 20px; }
.vAccordion--default v-pane {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s; }
.vAccordion--default v-pane.is-expanded > v-pane-header {
	border-bottom-color: #55acee; }
.vAccordion--default v-pane.is-expanded > v-pane-header::after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	opacity: 0; }
.vAccordion--default v-pane.is-expanded > v-pane-header::before {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); }
.vAccordion--default v-pane.is-expanded > v-pane-content > div {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); }
.vAccordion--default v-pane.is-expanded-add > v-pane-content, .vAccordion--default v-pane.is-expanded-remove > v-pane-content {
	-webkit-transition: max-height 0.3s;
	transition: max-height 0.3s; }
.vAccordion--default v-pane-header {
	font-weight: 400;
	padding: 5px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	-webkit-transition: color 0.15s, border-color 0.5s;
	transition: color 0.15s, border-color 0.5s; }
.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 10px;
	height: 1px;
	background-color: #55acee;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all 0.25s;
	transition: all 0.25s; }
.vAccordion--default v-pane-header::before {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg); }
.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
	color: #55acee; }

.vAccordion--default v-pane-content > div {
	padding-bottom: 20px;
	will-change: transform, opacity;
	opacity: 0;
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s; }



/* BUTTONS */
.accent-btn .glyphicon,
.default-btn .glyphicon{
	position: relative;
	top: 2px !important;
	margin-right: 5px !important;
}

.default-btn {
    
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 24px;
	font-size: 14px;
	font-weight: 300;

	box-shadow: none !important;
	outline: none !important;
	letter-spacing: -0.02em;

}

.accent-btn {
    
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 24px;
	box-shadow: none !important;
	outline: none !important;
    font-weight: 600 !important;
}

.round-btn {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	border-radius: 50%;
	box-shadow: none !important;
}

/* BUTTON COLORS */
.default-gray {
	color: rgba(0,0,0,0.5) !important;
	background-color: white !important;
	border: 1px solid rgba(0,0,0,0.15) !important;

	transition: all 0.2s ease 0s;
}
.default-btn[disabled]{
	opacity: .15 !important;
	color: rgba(0, 0, 0, 0.6) !important;
	border-color: rgba(0, 0, 0, 0.6) !important;
}
.default-btn:hover[disabled]{
	opacity: .30 !important;
	color: rgba(0, 0, 0, 0.6) !important;
	border-color: rgba(0, 0, 0, 0.6) !important;
}

.default-gray:hover {
	color: rgba(0, 0, 0, 0.6) !important;
	background-color: white !important;
	border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.default-blue {
	color: #55acee !important;
	background-color: transparent !important;
	border-color: #149AD2 !important;

	transition: all 0.1s ease 0s;
}

.default-blue:hover {
	color: #2D88BF !important;
	background-color: transparent !important;
	border-color: #25709D !important;
}



.accent-blue {
	color: white !important;
	background-color: #55acee !important;
	border-color: #55acee !important;

	transition: all 0.3s ease 0s;
}

.accent-blue:hover {
	color: white !important;
	background-color: rgb(0, 109, 170) !important;
	border-color: rgb(0, 109, 170) !important;
}



.default-green {
	color: #57ad68; !important;
	background-color: transparent !important;
	border-color: #a9d8b2 !important;

	transition: all 0.1s ease 0s;

}

.default-green:hover {
	color:  #468c54 !important;
	background-color: transparent !important;
	border-color: #57ad68 !important;
}

.accent-green {
	color: white !important;
	background-color: #8dc540 !important;
	border-color: #8dc540 !important;

	transition: all 0.3s ease 0s;
}

.accent-green:hover {
	color: white !important;
	background-color: #7fb239 !important;
	border-color: #7fb239 !important;
}

.default-red {
	color: #ef3e36 !important;
	background-color: transparent !important;
	border-color: #ef3e36 !important;

	transition: all 0.3s ease 0s;
}

.default-red:hover {
	color: #a1161b !important;
	background-color: transparent !important;
	border-color: #a1161b !important;
}

.accent-red {
	color: white !important;
	background-color: #ef3e36 !important;
	border-color: #ef3e36 !important;

	transition: all 0.3s ease 0s;
}

.accent-red:hover {
	color: white !important;
	background-color: #a1161b !important;
	border-color: #a1161b !important;
}

/* tables */
.table>thead>tr>th{
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-weight: 500;
}
.table>tbody>tr>td{
	border: none;
	font-weight: 300;

}
.table{
	background-color: white !important;
}
.table-striped
> tbody > tr:nth-of-type(odd) {
	background-color: rgb(245, 245, 245) !important;
    color: rgb(140, 140, 140);
    font-weight: 400 !important;
}
table .tablesort-asc,table .tablesort-desc{
    background-color:rgb(245, 245, 245) !important;
    color: rgb(140, 140, 140) !important;
  
}
table i{
  margin-left: calc(50% - 7px);
}


/* COURSE INFO*/

.courseinfo-div {
	font-weight: 300 !important;
	color: #4C4C4C;
	margin: auto;
	max-width: 900px;
}

.courseinfo-div v-pane-header {
	font-size: 14px !important;
}

.courseinfo-img-container {
	min-height: 300px;
	max-height: 600px;
	height: auto;
	max-width: 90%;
	float: left;
}

.flex-container {
	display: flex;
	align-items: center;
}

.courseinfo-img-container.flex-container {
	width: 100% !important;
}

#imgContainer90 {
	width: auto;
}

.courseinfo-img {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

.courseinfo-div v-pane-content {
	padding-left: 20px;
}

.courseinfo-table {
	padding-top: 20px;
}

.courseinfo-table > thead {
	font-style: normal !important;
}

.courseinfo-photoicon {
	float: left;
	margin-left: 8px;
}

.courseinfo-div .glyphicon {
    margin: 8px;
    margin-left: 0;
}

.glyphicon-calendar,
.glyphicon-delete {
	margin: 0;
}

/* text*/

.float-left {
	float: left;
}

.top-margin {
	margin-top: 25px;
}

.margin-32 {
	margin-top: 32px;
}

.big-margin {
	margin-top: 40px;
}

.really-big-margin {
	margin-top: 60px;
}

.courseinfo-header {
	display: flex;
	align-items: center;
}

.courseinfo-h1 {
	font-family: 'Lato', serif;
	font-size: 48px;
	color: #4C4C4C;
	font-weight: 500;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 0 !important;
	line-height: 58px;
	width: 60%;
}

.courseinfo-h5 {
	font-family: 'Lato', serif;
	font-size: 24px;
	font-weight: 300 !important;
	line-height: 1 !important;
	margin-bottom: 5px !important;
	letter-spacing: 0.02em;
	color: #4C4C4C;
}

.courseinfo-label {
	font-family: 'Lato', serif;
	font-weight: 300 !important;
	font-size: 16px !important;
	margin-top: 3px !important;
	line-height: 1 !important;
	letter-spacing: 0.02em;
	color: #4C4C4C;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.courseinfo-description {
	margin-left: 3px;
	max-height: 300px;
	font-size: 16px;
	word-wrap: break-word;
}

.courseinfo-small {
	font-size: 16px;
}

.courseinfo-btn {
	margin: 3px;
}

.courseinfo-btn:hover{
	color: #8C8C8C;
	background-color: white;
}
/* NEWS */

.bg-color-gray {
	background-color: #f9f9f9;
}

.login-card {
	padding: 64px 0px;
	width: 420px !important;
	background-color: white;
	margin: auto;

	-webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	overflow: hidden;
}
.login-card form{
	margin-left: 186px;
}
.login-card .form-inline{


}
.login-card .form-inline input{
	padding-bottom: 8px;
	width: 144px;
	border-bottom: 1px solid rgba(0,0,0,0.15) !important;
	border-radius: 0;
	padding: 0;
	margin-left: 12px;


}
.login-card div.checkbox{
	margin-top: 20px;
	margin-left: 1px;
}
.login-card div.checkbox span{
	margin-left: 7px;
}
.login-card button{
	margin-top: 16px;
	margin-left: 26px;
	width: 92px;
}
@media  (max-width: 768px){
	.form-inline label{
		display: none;
	}

	.login-card form{
		margin: auto;

	}
	.login-card{
		padding: 64px 40px;
		width: 240px !important;
	}
	.checkbox{
		margin-left: 12px !important;
	}
	.checkbox span{
		margin-left: 0 !important;
	}


}

#toasty .toast.toasty-theme-bootstrap {
  font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  
  
}

#toasty .toast.toasty-theme-bootstrap.toasty-type-default .close-button:after {
  color: #4c4c4c; !important;
}
#toasty .toast.toasty-theme-bootstrap.toasty-type-default .toast-text {
  color: #4c4c4c;
}
#toasty .toast.toasty-theme-bootstrap.toasty-type-default{
  background-color: white !important;
  
}
#toasty .toast.toasty-theme-bootstrap.toasty-type-default .toast-msg{
  font-family: 'San Francisco Text',Helvetica;
  
}
#toasty.toasty-position-top-right {
  border-top: none;
  
  top: 67px;
  right: 0px;
}
#toasty .toast{
  -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
	box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}