/* app css stylesheet */

body{
    
    padding-top: 70px; 
    height: 100vh !important;
    
}


/* feat: before angular is ready, display loading animation */
body.waiting-for-angular div#content-outer {
  display: none;
  min-height: 100%;
  position: relative;
}
body.waiting-for-angular div#initializing-panel {
  display: block;
  background: url(images/loading.gif) center center no-repeat;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
div#content-outer {
    min-height: 100% !important;
    position: relative;

}
/* my-app-footer*/
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  position:absolute;
  bottom:0;
  left:0;
 
}

.ng-view-content {
    /*footer height*/
    padding-bottom:80px;
}

.footer-link {
    margin-right: 25px;
    font-size: 10px;
}


/* 
    !!!!Deckgrid!!!! 
*/

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    width: 100%;
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}
.deckgrid{
    height: auto;
    width: 100%;
    overflow:auto; 
}

.deckgrid .column {
    float: left;
    
}

.deckgrid .column-1-4 {
    width: 25%;
}

.card {
    padding-bottom: 16px;
}

.deckgrid-my-courses[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    width: 100%;
    content: '2 .column.column-1-2';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}
.deckgrid-my-courses{
    height: auto;
    width: 100%;
    overflow:auto; 
}
.deckgrid-my-courses .column {
    float: left;
    
}

.deckgrid-my-courses .column-1-2 {
    width: 50%;
}
